### Season 4 Weather Data: Daily Values
* Min / Max Temp
* Min / Max Humidity
* Cumulative Growing Degree Days

Anything needed for id besides date?

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# %pwd
# %cd '/Users/ejcain/Dev/UA-AG/phenotypes/terraref-datasets'

/Users/ejcain/Dev/UA-AG/phenotypes/terraref-datasets

In [4]:
weather_2017 = pd.read_csv('properties_2017_ids_dates.csv')
weather_2017.head()

,Unnamed: 0,df_2017$id,source,wind_speed,source_file,eastward_wind,northward_wind,air_temperature,relative_humidity,precipitation_rate,surface_downwelling_shortwave_flux_in_air,surface_downwelling_photosynthetic_photon_flux_in_air,df_2017$created,df_2017$start_time,df_2017$end_time
0,1,155475278,https://terraref.ncsa.illinois.edu/clowder/dat...,2.725724,58e302354f0c430e2d144c61,0.891586,-2.560871,283.680828,75.659448,0.0,0.004821,0.00000,2018-05-25T20:18:38Z,2017-01-02T06:50:00Z,2017-01-02T06:55:00Z
1,2,155475279,https://terraref.ncsa.illinois.edu/clowder/dat...,2.760800,58e302354f0c430e2d144c61,0.725592,-2.651024,283.530800,77.703400,0.0,0.066017,0.09592,2018-05-25T20:18:38Z,2017-01-02T06:55:00Z,2017-01-02T07:00:00Z
2,3,155475280,https://terraref.ncsa.illinois.edu/clowder/dat...,3.409000,58e302354f0c430e2d144c61,0.451319,-3.349900,283.452767,78.146200,0.0,0.080773,0.03924,2018-05-25T20:18:38Z,2017-01-02T07:00:00Z,2017-01-02T07:05:00Z
3,4,155475281,https://terraref.ncsa.illinois.edu/clowder/dat...,3.828733,58e302354f0c430e2d144c61,-0.446543,-3.784172,283.581867,75.010467,0.0,0.006990,0.00000,2018-05-25T20:18:38Z,2017-01-02T07:05:00Z,2017-01-02T07:10:00Z
4,5,155475282,https://terraref.ncsa.illinois.edu/clowder/dat...,3.226467,58e302354f0c430e2d144c61,-0.801040,-3.114188,283.646000,73.866467,0.0,0.000000,0.00000,2018-05-25T20:18:38Z,2017-01-02T07:10:00Z,2017-01-02T07:15:00Z

In [5]:
weather_2017.shape

(11592, 15)

In [ ]:
# Growing Degree Days

# from Kristina Riemer's tutorial:

# The temperature data, which is five minute averages for the entire month of January 2017, is used to calculate the growing degree days for each day. 
# Growing degree days is a measurement that is used to predict when certain plant developmental phases happen. 
# This new dataframe will be used in the last vignette to synthesize the trait, weather, and image data. 

# ```{r met-GDD}
# daily_values <- weather_data %>% 
#   mutate(date = as.Date(time), 
#          air_temp_converted = air_temperature - 273.15) %>% 
#   group_by(date) %>% 
#   summarise(min_temp = min(air_temp_converted), 
#             max_temp = max(air_temp_converted), 
#             gdd = ifelse(sum(min_temp, max_temp) / 2 > 10, 
#                          (max_temp + min_temp) / 2 - 10, 0))

In [6]:
weather_2017.source_file.nunique()

1024

In [7]:
# clean up df a bit - drop some columns not needed for now, replace columns names from R

weather_2017.drop(labels=['Unnamed: 0', 'source', 'wind_speed', 'eastward_wind', 'northward_wind',
                         'precipitation_rate', 'surface_downwelling_shortwave_flux_in_air',
                         'surface_downwelling_photosynthetic_photon_flux_in_air'], axis=1, inplace=True)

In [14]:
weather_2017.rename({'df_2017$id': 'id', 'df_2017$created': 'created', 'df_2017$start_time': 'start_time', \
                     'df_2017$end_time': 'end_time'}, axis=1, inplace=True)

In [15]:
weather_2017.tail()

,id,source_file,air_temperature,relative_humidity,created,start_time,end_time
11587,155475621,5ab272154f0c22b793c68862,281.532827,41.596533,2018-05-25T20:44:50Z,2017-12-29T07:00:00Z,2017-12-29T07:05:00Z
11588,155475622,5ab272154f0c22b793c68862,280.214030,46.509267,2018-05-25T20:44:50Z,2017-12-29T07:05:00Z,2017-12-29T07:10:00Z
11589,155475623,5ab272154f0c22b793c68862,279.461207,42.603567,2018-05-25T20:44:50Z,2017-12-29T07:10:00Z,2017-12-29T07:15:00Z
11590,155475624,5ab272154f0c22b793c68862,279.861810,43.701267,2018-05-25T20:44:50Z,2017-12-29T07:15:00Z,2017-12-29T07:20:00Z
11591,155475625,5ab272154f0c22b793c68872,284.688794,36.656633,2018-05-25T20:45:20Z,2017-12-29T07:20:00Z,2017-12-29T00:08:24Z

In [16]:
weather_2017.drop(labels='created', axis=1, inplace=True)

In [17]:
print(weather_2017.start_time.min(), weather_2017.start_time.max())
print(weather_2017.end_time.min(), weather_2017.end_time.max())

2017-01-02T06:50:00Z 2017-12-29T07:20:00Z
2017-01-01T16:24:30Z 2017-12-29T07:20:00Z

In [22]:
weather_2017.drop(labels='source_file', axis=1, inplace=True)

#### Max / Min Temperatures

In [24]:
# will probably only need values for the season, but will do all of 2017 for now

dec_29 = weather_2017[weather_2017['start_time'].str.contains('2017-12-29')]
dec_29

,id,air_temperature,relative_humidity,start_time,end_time
11566,155475600,282.038947,43.014000,2017-12-29T05:18:25Z,2017-12-29T05:20:00Z
11567,155475601,281.702600,45.124733,2017-12-29T05:20:00Z,2017-12-29T05:25:00Z
11568,155475602,281.417733,45.440200,2017-12-29T05:25:00Z,2017-12-29T05:30:00Z
11569,155475603,281.206887,45.195733,2017-12-29T05:30:00Z,2017-12-29T05:35:00Z
11570,155475604,281.118507,46.689200,2017-12-29T05:35:00Z,2017-12-29T05:40:00Z
11571,155475605,281.430080,44.633533,2017-12-29T05:40:00Z,2017-12-29T05:45:00Z
11572,155475606,282.145743,40.925304,2017-12-29T05:45:00Z,2017-12-29T05:50:00Z
11573,155475607,282.539700,39.375033,2017-12-29T05:50:00Z,2017-12-29T05:55:00Z
11574,155475608,282.757967,38.695733,2017-12-29T05:55:00Z,2017-12-29T06:00:00Z
11575,155475609,282.737433,38.399333,2017-12-29T06:00:00Z,2017-12-29T06:05:00Z
11576,155475610,282.999133,37.573333,2017-12-29T06:05:00Z,2017-12-29T06:10:00Z
11577,155475611,283.264267,36.604333,2017-12-29T06:10:00Z,2017-12-29T06:15:00Z
11578,155475612,283.292133,35.831033,2017-12-29T06:15:00Z,2017-12-29T06:20:00Z
11579,155475613,283.508268,40.798003,2017-12-29T06:20:00Z,2017-12-29T06:25:00Z
11580,155475614,282.421967,38.013167,2017-12-29T06:25:00Z,2017-12-29T06:30:00Z
11581,155475615,282.772900,36.261400,2017-12-29T06:30:00Z,2017-12-29T06:35:00Z
11582,155475616,283.086333,35.017800,2017-12-29T06:35:00Z,2017-12-29T06:40:00Z
11583,155475617,283.190900,34.666000,2017-12-29T06:40:00Z,2017-12-29T06:45:00Z
11584,155475618,282.974767,35.118700,2017-12-29T06:45:00Z,2017-12-29T06:50:00Z
11585,155475619,282.430372,36.799966,2017-12-29T06:50:00Z,2017-12-29T06:55:00Z
11586,155475620,281.893600,39.242300,2017-12-29T06:55:00Z,2017-12-29T07:00:00Z
11587,155475621,281.532827,41.596533,2017-12-29T07:00:00Z,2017-12-29T07:05:00Z
11588,155475622,280.214030,46.509267,2017-12-29T07:05:00Z,2017-12-29T07:10:00Z
11589,155475623,279.461207,42.603567,2017-12-29T07:10:00Z,2017-12-29T07:15:00Z
11590,155475624,279.861810,43.701267,2017-12-29T07:15:00Z,2017-12-29T07:20:00Z
11591,155475625,284.688794,36.656633,2017-12-29T07:20:00Z,2017-12-29T00:08:24Z

In [25]:
dec_29.shape

(26, 5)